.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: 16px;
  display:inline-block;  
}

.banner h1{
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: black;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.wrap {
    font-size: 40px;
    font-weight:700;
    color: #808080;
}